body {
    background-color: #A9C7EE;
    font-family: 'Century Gothic', sans-serif;
    padding: 10px;
}


navbar {
    padding: 10px 0;
    justify-content: space-around;
    display: flex;
}


.nav-link{
    text-decoration:none;
    color: midnightblue;
}


.nav-link:hover{
    color: #F7E3AB; /* Gold accent color to be used as a part of design */
}


/* Will create full-sized viewport container needed for styling and whitespace effect */
.fullsize-container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


/* Will center elements in middle of the page as a stylistic choice */
.center-form {
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.custom-form-elements {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.custom-input-elements {
    border-radius: 0.20rem;
    margin-bottom: 1rem;
    max-width: 300px;
    border: 1px solid #F7E3AB;
}


h1 {
    color: yellow; 
}