body {
    background-color: #A9C7EE;
    font-family: 'Century Gothic', sans-serif;
    padding: 25px;
    margin: 0;
}


navbar {
    padding: 10px 0;
    justify-content: space-around;
    display: flex;
    position: fixed;
    width: 100%;
}


.nav-link {
    text-decoration:none;
    color: midnightblue;
}


.nav-link:hover {
    color: #F7E3AB; /* Gold accent color to be used as a part of design */
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



h5 {
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Will create full-sized viewport container needed for styling and whitespace effect */
.fullsize-container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; /*needed to prevent element overflow into the nav bar*/
    padding-top: 60px;
    margin-top: 30px;
    margin-bottom: 5rem;
}

.full-size-container {
    padding: 20px;
    max-width: 900px;
    background: white;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 5px 10px #808080;
}


/* Will center elements in middle of the page as a stylistic choice */
.center-form {
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
}


.custom-form-elements {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    min-width: 300px;
    max-width: 500px;
}


.custom-input-elements {
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #51739D;
    padding: 0.6rem;
}


h1 {
    color: coral;
    text-align: center;
    margin-bottom: 1rem;
    padding: 20px 0 0 0;
}


h2 {
    color: cornflowerblue;
    text-align: center;
    margin-bottom: 1.5rem;
    padding: 20px 40px;
}


.yellow-animated-button {
    background-color: #EDF1F5;
    color: #51739D;
    margin: 20px auto; 
    display: block;
    text-align: center;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}


.yellow-animated-button:hover {
    background-color: #F7E2AB;
    transform: scale(1.00);
    box-shadow: 0 5px 10px #808080;
}


ul {
    list-style-type: none; 
}


.social-media-container {
    background: white;
    border-radius: 0.7rem;
    box-shadow: 0 5px 10px #808080;
    margin: 1rem auto;
    padding: 1rem;
}


.social-media-card {
    overflow: auto;
    background: white;
    border-radius: 0.7rem;
    margin-bottom: 1rem;
    box-shadow: 0 5px 10px #808080;
    padding: 2rem;
    margin: 2rem;
}


.footer {
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
}


.highlight-search-query {
    font-weight: bold;
    border-radius: 0.3rem;
    padding: 0.1rem, 0.4rem;
    background-color: #F7E2AB;
}


.search-card {
    padding: 1rem;
    background: white;
    margin: 2.5rem auto;
    border-radius: 0.4rem;
    box-shadow: 0 5px 10px #808080;
}







.feed-post-footer {
    background-color: #F7F9FC;
    padding: 0.5rem;
    border-top: 1px solid #EAECEF;
}


.feed-post-header {
    color: darkslategray;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    background-color: #FCFCF0;
    padding: 1rem;
}


.feed-post-body {
    padding: 1rem;
}


.feed-post-text {
    color: darkslategray;
    line-height: 1.6;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}


.feed-buttom-container form {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 1rem;
}


.post-like-edit-delete {
    display: flex;
    justify-content: flex-start; /* This will space out the buttons evenly */
    align-items: center;
    padding: 1rem;
}


    .post-like-edit-delete .btn {
        flex: 0 0 auto; /* Don’t grow or shrink */
        margin: 0 5px; /* Add some space between the buttons */
        padding: 5px 15px; /* Adjust to your liking */

    }


.feed-comment-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 10px;
}

    .feed-comment-container .custom-comment-btn {
        flex: 0 0 auto; /* Prevents the button from growing */
        white-space: nowrap; /* Keeps the button text on one line */
    }


.feed-edit-comment-container {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 1rem;
}

.comment-input-textarea {
    flex-grow: 1; /* Make the input grow to fill the space */
    margin: 0; /* Override any existing margin */
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    min-width: 300px;
    max-width: 400px;
}

.comment-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; /* Add space between buttons */
    margin-top: 10px; /* Add space above the button group */
    margin-bottom: 20px; /* Add space below the button group */
    padding: 1rem;
}


    .comment-button-container form {
        gap: 10px;
        display: flex;
        margin-bottom: 10px;
        justify-content: start;
        padding: 1rem;
    }


.custom-comment-btn {
    background-color: lightcoral; /* Soft pink */
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px; /* Rounded edges */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    margin: 1rem;
}


    .custom-comment-btn:hover, .custom-comment-btn:focus {
        background-color: #ffd3e0; /* Lighter shade for hover */
        transform: translateY(-2px); /* Slight lift */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }


    .custom-comment-btn:active {
        transform: translateY(1px); /* Pressed down effect */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

.feed-user-comments {
    padding: 1rem;
}


.card::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background: url('/images/pastelunsplash.png');
    background-size: cover;
    background-position: center;
}


.neon-bg-container {
    position: relative;
    background-size: cover;
    padding: 50px;
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 0.7rem;
    box-shadow: 0 5px 10px #808080;
}

    .neon-bg-container::before {
        background-image: url('/Images/largepastelunsplash.jpg');
        background-size: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 80%;
        z-index: -1;
        content: '';
        position: absolute;
        border-radius: 0.7rem;
    }


.center-header-container{
    text-align: center;
    align-content: center;
}


.like-button {
    background-color: #EDF1F5;
    color: #51739D;
    margin: 20px auto;
    display: block;
    text-align: center;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}


    .like-button:hover {
        background-color: #E3F7FA;
        transform: scale(1.00);
        box-shadow: 0 5px 10px #808080;
    }


.edit-button {
    background-color: #EDF1F5;
    color: #51739D;
    margin: 20px auto;
    display: block;
    text-align: center;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}


    .edit-button:hover {
        background-color: #FFFEE0;
        transform: scale(1.00);
        box-shadow: 0 5px 10px #808080;
    }


.edit-comment-button {
    background-color: #EDF1F5;
    color: #51739D;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}


    .edit-comment-button:hover {
        background-color: #FFFEE0;
        transform: scale(1.00);
        box-shadow: 0 5px 10px #808080;
    }


.delete-button {
    background-color: #EDF1F5;
    color: #51739D;
    margin: 20px auto;
    display: block;
    text-align: center;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}


    .delete-button:hover {
        background-color: #FFE0E0;
        transform: scale(1.00);
        box-shadow: 0 5px 10px #808080;
    }


.delete-comment-button {
    background-color: #EDF1F5;
    color: #51739D;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}


    .delete-comment-button:hover {
        background-color: #FFE0E0;
        transform: scale(1.00);
        box-shadow: 0 5px 10px #808080;
    }



.save-button {
    background-color: #EDF1F5;
    color: #51739D;
    text-align: center;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}


    .save-button:hover {
        background-color: #F7E2AB;
        transform: scale(1.00);
        box-shadow: 0 5px 10px #808080;
    }


.cancel-button {
    background-color: #EDF1F5;
    color: #51739D;
    text-align: center;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}


    .cancel-button:hover {
        background-color: #DEEFFC;
        transform: scale(1.00);
        box-shadow: 0 5px 10px #808080;
    }


.minify-img {
    max-width: 40%;
    height: auto;
    padding: 1rem;
    border-radius: 1.5rem;
}


.post-category-dropdown {

}