body {
    background-color: #A9C7EE;
    font-family: 'Century Gothic', sans-serif;
    padding: 25px;
    margin: 0;
}


navbar {
    padding: 10px 0;
    justify-content: space-around;
    display: flex;
    position: fixed;
    width: 100%;
}


.nav-link{
    text-decoration:none;
    color: midnightblue;
}


.nav-link:hover{
    color: #F7E3AB; /* Gold accent color to be used as a part of design */
}


/* Will create full-sized viewport container needed for styling and whitespace effect */
.fullsize-container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; /*needed to prevent element overflow into the nav bar*/
    padding-top: 60px;
    margin-top: 30px;
}


/* Will center elements in middle of the page as a stylistic choice */
.center-form {
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.custom-form-elements {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}


.custom-input-elements {
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #51739D;
    padding: 0.6rem;
}


h1 {
    color: coral;
    text-align: center;
    margin-bottom: 1rem;
    padding: 20px 0 0 0;
}


h2 {
    color: cornflowerblue;
    text-align: center;
    margin-bottom: 1.5rem;
    padding: 20px 40px;
}


.yellow-animated-button{
    background-color: #EDF1F5;
    color: #51739D;
    margin: 20px auto; 
    display: block;
    text-align: center;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}


.yellow-animated-button:hover
{
    background-color: #F7E2AB;
    transform: scale(1.00);
    box-shadow: 0 5px 10px #808080;
}


ul{
    list-style-type: none; 
}


.social-media-container{
    background: white;
    border-radius: 0.7rem;
    box-shadow: 0 5px 10px #808080;
    margin: 1rem auto;
    padding: 1rem;
}


.social-media-card {
    overflow: auto;
    background: white;
    border-radius: 0.7rem;
    margin-bottom: 1rem;
    box-shadow: 0 5px 10px #808080;
    padding: 2rem;
    margin: 2rem;
}


.footer {
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
}


.feed-photo{
    max-width: 50%;
    height: auto;
}


.highlight-search-query {
    font-weight: bold;
    border-radius: 0.3rem;
    padding: 0.1rem, 0.4rem;
    background-color: #F7E2AB;
}


.search-card {
    padding: 1rem;
    background: white;
    margin: 1rem auto;
    border-radius: 0.4rem;
    box-shadow: 0 5px 10px #808080;
}


.feed-button-container{
    
}

.feed-post-header {
    color: darkslategray;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    background-color: #FCF3D9;
}

.feed-post-body {

}