@page "/NewPost"
@using CapstoneDraft.Models;
@using CapstoneDraft.Services;


@inject PostService PostService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="fullsize-container">
    <div class="social-media-container">
        <div class="social-media-card">
            <h3>Create a New Post</h3>
        </div>
    </div>
</div>


@code {

}
