@page "/NewPost"
@using CapstoneDraft.Models;
@using CapstoneDraft.Services;


@inject PostService PostService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="fullsize-container">
    <div class="social-media-container">
            <h3>Create a New Post</h3>
    </div>
</div>

@if (userAuthenticated)
{
    <EditForm Model="@tempFormData" OnValidSubmit="ProcessNewPost">
        <DataAnnotationsValidator />
    </EditForm>
}

@code {
    private TemporaryPostModel tempFormData = new TemporaryPostModel();
    private bool userAuthenticated = false;

    private async Task ProcessNewPost()
    {

    }
}
