@page "/EditPost/{postId:int}"
@using CapstoneDraft.Models;
@using CapstoneDraft.Services;
@inject PostService PostService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UploadPhotoService UploadPhotoService



<div class="fullsize-container">
    <div class="social-media-container">
        <div class="social-media-card">
            <h2>Edit Post Test</h2>
            @if (!userAuthenticated)
            {
                <p>Please login in order to edit posts!</p>
            }
            else if (!postAuthor)
            {
                <p>You are not the author of this post - your request is denied!</p>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int EditPostId { get; set; }
    private TemporaryPostModel tempFormData = new();
    private PostModel postModel;
    private string EditPostErrorMessage;
    private bool userAuthenticated;
    private bool postAuthor;
}
