@page "/EditPost/{postId:int}"
@using CapstoneDraft.Models;
@using CapstoneDraft.Services;
@inject PostService PostService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<div class="fullsize-container">
    <div class="social-media-container">
        <div class="social-media-card">
            <h2>Edit Post Test</h2>
            @
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int EditPostId { get; set; }
}
