@page
@model CapstoneDraft.Pages.ErrorModel

@* Edited stock error razor page that came with new Blazor program - not sure if this will be needed in production or not so I am leaving in my project just in case *@
<!DOCTYPE html>
<html lang="en">

<head>

    <title>Uh oh!</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="neon-bg-container">
        <div class="center-form">
            <div class="social-media-card">
                <div class="feed-post-header">
                    <p>Ugh oh!</p>
                </div>
                <div class="feed-post-body">
                    <h3>You have encountered an error in your request - please navigate back to the login page and try again!</h3>
                    <button class="yellow-animated-button" onclick="location.href='/';">Login</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
