@page "/feed"
@using CapstoneDraft.Models
@using CapstoneDraft.Services
@inject PostService PostService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@foreach (var feedPost in feedPosts)
{
    <div class="fullsize-container">
    <div class="social-media-container">
        <div class="social-media-card">
            <h4>Name: @feedPost.AuthorName</h4>
            <h5>Subject:  @feedPost.PostSubject</h5>
        </div>
    </div>
</div>
}


@code {
    public List<PostModel> feedPosts;
}
