@page "/"

@model CapstoneDraft.Pages.LoginModel
@{
    Layout = "_Layout";
}

<form method="post" class="login-form">
    <h1>Safety Net</h1>
    <div class="form-grup">
        <label for="Username">Username</label>
        <input type="text" class="form-control" id="Username" name="Username" value="@Model.Username" />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="Password" class="form-control" id="Password" name="Password" />
    </div>
</form>