@page "/"

@model CapstoneDraft.Pages.LoginModel
@{
    Layout = "_Layout";
}

<div class="fullsize-container">
    <form method="post" class="center-form">
        <h1>Safety Net</h1>
        <div class="custom-form-elements">
            <label for="Username">Username</label>
            <input type="text" class="form-control" id="Username" name="Username" value="@Model.Username" />
        </div>
        <div class="custom-form-elements">
            <label for="Password">Password</label>
            <input type="Password" class="form-control" id="Password" name="Password" />
        </div>
        <button type="submit" class="yellow-animated-button">Login</button>
    </form>
    <br />
    <p> Don't have an account? <a href="/register">Register here!</a></p>
</div>