@page "/Logout"

@model CapstoneDraft.Pages.LogoutModel
@{
    Layout = "_Layout";
}

@* ASP.Net Core Identity Manager doesn't allow login/logout functionality directly via Razor components (trying to do so will result in HTTP header errors) - so I had to create a logout Razor page to handle the logout action similar to the login razor page *@
<div class="center-container">
    <div class="neon-bg-container">
            <div class="center-form">
                <div class="social-media-card">
                    <div class="feed-post-header">
                    <h3>Are you sure you want to logout?</h3>
                    </div>
                    <div class="feed-post-body">
                    <form method="post">
                        @Html.AntiForgeryToken() @* Logout method would not work unless AntiForgeryToken was implemented in the form - this is also used as an industry standard security measure to prevent cross-site scripting *@
                        <button type="submit" class="yellow-animated-button">Yes, logout</button>
                    </form>

                    <a href="/feed" class="cancel-button">No, return to feed</a>
                    </div>
                </div>
        </div>
    </div>
</div>