@page "/Logout"

@model CapstoneDraft.Pages.LogoutModel

<h3>Are you sure you want to logout?</h3>

<form method="post">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-warning">Yes, logout</button>
</form>

<a href="/feed" class="btn btn-default">No, return to feed</a>