@page "/Logout"

@model CapstoneDraft.Pages.LogoutModel
@{
    Layout = "_Layout";
}

<div class="fullsize-container">
    <div class="neon-bg-container">
        <div class="social-media-card">
            <div class="center-form">
                <div class="card">
                    <div class="feed-post-header">
                    <h3>Are you sure you want to logout?</h3>
                    </div>
                    <div class="feed-post-body">
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-warning">Yes, logout</button>
                    </form>

                    <a href="/feed" class="btn btn-info">No, return to feed</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>