@typeparam TItem

@if (Query != null && ColumnTitle != null)
{
    <table class="table table-hover table-warning">
        <thead class="thead-danger">

        </thead>
    </table>
}


@code {
    [Parameter] public IEnumerable<TItem> Query { get; set; }
    [Parameter] public IEnumerable<string> ColumnTitle { get; set; }
    [Parameter] public Func<TItem, IEnumerable<object>> QueryResults { get; set; }
}
