@typeparam TItem

@* This component is meant to create a table for report data to be returned to in order to meet the requirement of generating reports with multiple columns, rows, titles and timestamps*@

@if (Query != null && ColumnTitles != null)
{
    <table class="table table-hover table-warning">
        <thead class="thead-danger">
            <tr>
                @foreach (var columnTitle in ColumnTitles)
                {
                    <th>@columnTitle</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Query)
            {
                <tr>
                    @foreach (var result in QueryResults(data))
                    {
                        <td>@result</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Your search term was not located!</p>
}


@code {
    [Parameter] public IEnumerable<TItem> Query { get; set; }
    [Parameter] public IEnumerable<string> ColumnTitles { get; set; }
    [Parameter] public Func<TItem, IEnumerable<object>> QueryResults { get; set; } // Return a collection of objects received and display them each in a table row
}
