@page "/reports"
@using CapstoneDraft.Models;
@using CapstoneDraft.Services;

@inject ReportService ReportService

<div class="fullsize-container">
    <div class="socialmedia-container">
        <h2>Safety Net Reports</h2>
    </div>
</div>

@code {

}
