@typeparam TItem

@if (Query != null && ColumnTitles != null)
{
    <table class="table table-hover table-warning">
        <thead class="thead-danger">
            <tr>
                @foreach (var columnTitle in ColumnTitles)
                {
                    <th>@columnTitle</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Query)
            {
                <tr>
                    @foreach (var result in QueryResults(data))
                    {
                        <td>@result</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}


@code {
    [Parameter] public IEnumerable<TItem> Query { get; set; }
    [Parameter] public IEnumerable<string> ColumnTitles { get; set; }
    [Parameter] public Func<TItem, IEnumerable<object>> QueryResults { get; set; }
}
