@page "/reports"
@using CapstoneDraft.Models;
@using CapstoneDraft.Services;

@inject ReportService ReportService

<div class="fullsize-container">
    <div class="social-media-container">
        <div class="social-media-card">
            <h2>Safety Net Reports</h2>
            <select @onchange="ProcessReportNumberSelection">
                <option value="0">Select a report:</option>
                <option value="1">Total Posts Per User Report</option>
                <option value="2">Total Comments Per User Report</option>
                <option value="3">Total Number of Posts Per Category</option>
                <option value="4">Latest User Activity Report</option>
            </select>
        </div>
        @if (reportDisplayTable != null)
        {
            @reportDisplayTable
        }
    </div>
</div>

@code {
    private int selectedReport;
    private RenderFragment reportDisplayTable;

    private async Task ProcessReportSelection(ChangeEventArgs args)
    {
        
    }
}
