@page "/search"
@using CapstoneDraft.Models
@using CapstoneDraft.Services

@inject PostService PostService
@inject NavigationManager NavigationManager

<div class="fullsize-container">
    <div class="social-media-container">
        <div class="social-media-card">
            <h2>Search User Posts and Comments</h2>
            <form @onsubmit="SearchPostsAndCommentsAsync">
                <input type="text" @bind="searchQuery" placeholder="Enter your search query!" class="custom-input-elements" />
                <button type="submit" class="yellow-animated-button">Search!</button>
            </form>
        </div>
    </div>
</div>


@code {
    private string searchQuery;
    private List<PostModel> queryResults;
    private string searchResultsErrorMessage;

    private async Task SearchPostsAndCommentsAsync()
    {
        
    }
}
