@page "/post/{PostId:int}"
@using CapstoneDraft.Models;
@using CapstoneDraft.Services;
@inject PostService PostService
@inject NavigationManager NavigationManager

@if (post != null)
{
    <div class="fullsize-container">
        <div class="social-media-container">
            <div class="social-media-card">
                <h2>View Post Test</h2>
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public int PostId { get; set;  }
    private PostModel post;
}
