@inherits LayoutComponentBase

@using CapstoneDraft.Models;

@inject NavigationManager NavigationManager




<PageTitle>Safety Net</PageTitle>

<nav class="navbar">
    <a href="/feed" class="nav-link">Feed</a>
    <a href="/userprofile" class="nav-link">Profile</a>
    <a href="/reports" class="nav-link">Reports</a>
    <a href="/search" class="nav-link">Search</a>
    <a href="/" class="nav-link">Logout</a>
    <a href="/Logout">Test</a>


</nav>

<div>
    @Body
</div>

<footer class="border-top-0 footer">
    <div class="container">
        &copy; 2024 - Safety Net Workplace Safety Application
    </div>
</footer>

@code {

}